<section class="hero-wrap">
  <div class="title-wrap">
    <h1 class="title">
      Learn to Cook <span>Tasty Treats'</span> Customizable Masterclass
    </h1>
    <p>
      TastyTreats - Customize Your Meal with Ingredient <br />Options and
      Step-by-Step Video Guides.
    </p>
    <button type="button" class="order-btn">Order now</button>
  </div>
  <div class="slider-wrap">
    <ul class="image-list">
      <li><img class="item-a" src="" alt="" /></li>
      <li><img class="item-b" src="" alt="" /></li>
      <li><img class="item-s" src="" alt="" /></li>
    </ul>
  </div>
</section>
